body {
    background: rgba(247, 49, 66, 1);
    color: lightgray;
    background: linear-gradient(to right, rgba(247, 49, 66, 1) 0%, rgba(91, 106, 241, 1) 20%, rgba(14, 245, 76, 1) 51%, rgba(190, 240, 26, 1) 71%, rgba(230, 52, 39, 1) 100%);
}