.header1 {
    background-color: red;
}

.header2 {
    background-color: blue;
}

.header3 {
    background-color: yellow;
}

.header4 {
    background-color: green;
}

.header5 {
    background-color: purple;
}

.header6 {
    background-color: black;
}