.nav-link {
    cursor: pointer;
}

#canvas {
    height: 600px;
    width: 600px;
    background-color: rgb(116, 255, 243);
}

#add-to-canvas {
    text-transform: capitalize;
}

#shape-info {
    text-transform: capitalize;
}

.shape {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.square {
    background-color: rgba(255, 0, 0, 0.7);
}

.rectangle {
    background-color: rgba(0, 128, 0, 0.7);
}

.circle {
    background-color: rgba(128, 0, 128, 0.7);
}

.triangle {
    border-color: rgba(255, 255, 0, 0.7);
    border-style: solid;
    background-color: transparent;
}

.unselectable {
    user-select: none;
}